/* @import "@folio/stripes-components/lib/variables.css"; */

.wrapper {
	margin: 0;
	padding: 0;
	position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-hover);
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
  left: 0;
  top: 0;
  background-color: var(--bg);
}

@media (min-width: 75em) {
	.container {
	  width: 75%;
	  height: 75%;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
  }
  

	.form-column-sso {
	  padding-top: 30px;
	  border: 1px solid var(--secondary);
	  border-width: 0 0 0 1px;
	}
  
	.sso-form-main-row {
	  position: relative;
    top: 50%;
    transform: translate(0, -50%);
	}
}

.form-column {
	padding: 20px 0;
}

.form {
  width: 100%;
  outline: 0;
  text-align: center;
}

.formGroup {
  margin-bottom: 1rem;
}
.formGroup:last-child {
  margin-bottom: 0;
}

.linksWrapper,
.authErrorsWrapper {
  margin-top: 1rem;
}

input.input {
  height: 44px;
  padding: 8px;
  font-size: var(--font-size-medium);
}

button.submitButton {
  height: 44px;
  max-height: 100%;
  margin-top: 1.5rem;
  font-size: var(--font-size-medium);
}

.link {
  display: block;
  width: 100%;
  font-size: var(--font-size-large);
  font-weight: var(--text-weight-headline-basis);
  margin: 0;
}

/* @media (--medium-up) { */
/*   button.submitButton { */
/*     height: 60px; */
/*     font-size: var(--font-size-large); */
/*   } */

/*   input.input { */
/*     height: 60px; */
/*     padding: 15px; */
/*     font-size: var(--font-size-medium); */
/*   } */
/* } */

@media (--large-up) {
  .toggleButtonWrapper {
    justify-content: left;
  }
  .toggleButtonWrapper > button {
    margin: 0 0 1rem 1rem;
  }
}

